*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#D7D7D6;
    color:#272836;
}

html{
    scroll-behavior: smooth;
  }
  
:target{
    scroll-margin-top: 100px;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}


/* MENU */

.navbar{
    background:#272836;
    padding:15px 25px;
    border-radius:50px;
    position:absolute !important;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:90%;
    max-width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:10;
}

.logo{
    color:#D7D7D6;
    font-size:24px;
    font-weight:700;
}

.menu{
    display:flex;
    gap:30px;
    align-items:center;
}

.menu a{
    color:#D7D7D6;
    font-size:14px;
    transition:.3s;
}

.menu a:hover{
    opacity:.7;
}

.btn-menu{
    background:#D7D7D6;
    color:#272836 !important;
    padding:10px 22px;
    border-radius:30px;
    font-weight:700;
}

/* banner */

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.banner-text{
    position:absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.banner-text h1{
    font-size:64px;
    line-height:1.1;
    font-weight:700;
    max-width:600px;
}

/* SOBRE */

.about{
    padding:120px 0;
}

.about-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}

.about-text{
    flex:1;
}

.section-title{
    font-size:38px;
    margin-bottom:25px;
}

.about-text p{
    color:#595D66;
    line-height:1.9;
    font-size:16px;
}

.about-image{
    height:450px;
    overflow:hidden;
    border-radius:25px;
}

.about-image img{
    height:100%;
}


 /* REDES */

.socials{
    padding-bottom:120px;
}

.social-grid{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:50px;
    margin-top:40px;
    text-align: center;
}

.social-card{
    background:#272836;
    padding:20px;
    border-radius:25px;

}

.nome-redes{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    color: #D7D7D6;
}

.titulo-redes{
    margin: 0;
}

.social-card2{
    margin-top: 5px;
}
.social-card2 img{
    border-radius: 25px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.icon-social{
    width: 25px;
}

.btn-perfil{
    background-color: #D7D7D6;
    color: #272836;
    padding: 10px 18px;
    border-radius: 25px;
}

.div-btn-perfil{
    margin-top: 20px;
}

/* PORTFOLIO */

.portfolio{
    padding-bottom:120px;
}

.portfolio-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:100px;
    margin-top:40px;
}

.portfolio-card{
    position:relative;
    overflow:hidden;
    border-radius:25px;
    height:420px;
    cursor:pointer;
}

.portfolio-card img{
    height:100%;
    object-fit:cover;
    transition:.4s;
    filter:brightness(70%);
}

.portfolio-card:hover img{
    transform:scale(1.05);
}

.portfolio-card h3{
    position:absolute;
    bottom: 25px;
    left:25px;
    color:#D7D7D6;
    font-size:28px;
}

/* DEPOIMENTOS */

.depoimentos{
    background:#595D66;
    padding:60px 0;
}

.depoimentos-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:20px;
}

.depoimentos-card{
    background:#D7D7D6;
    padding:25px;
    border-radius:20px;
}

.stars{
    color:#595D66;
    margin-bottom:15px;
}

.depoimentos-card p{
    font-size:14px;
    line-height:1.7;
}


/* FOOTER */

footer{
    background:#272836;
    padding:100px 0;
    margin-top: 150px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    gap:60px;
}

.footer-left{
    flex:1;
}

.footer-left h2{
    color:#B7B8BB;
    font-size:42px;
    margin-bottom:15px;
}

.footer-left h3{
    color: #B7B8BB;
}

.footer-left p{
    color:#B7B8BB;
    margin-bottom:30px;
    max-width:400px;
    line-height:1.8;
}

.pfooter{
    margin-top: 30px;
}

.footer-info{
    margin-top:40px;
}

.footer-info h4{
    color:#B7B8BB;
    margin-bottom:5px;
}

.footer-info span{
    color:#B7B8BB;
    display:block;
    margin-bottom:20px;
}


.footer-form{
    flex:1;
    background:#B7B8BB;
    padding:40px;
    border-radius:25px;
}

.input-group{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:25px;
    border-bottom:2px solid #272836;
}

.textarea-group{
    align-items:flex-start;
}

.textarea-group .icons-form{
    margin-top:12px;
}

.icons-form{
    width:15px;
    height:15px;
}

.input-group input,
.input-group textarea{
    width:100%;
    border:none;
    background:transparent;
    padding:12px 0;
    outline:none;
    color:#272836;
    resize:none;
}

.footer-form button{
    width:120px;
    float: inline-end;
    border:none;
    background:#272836;
    color:#D7D7D6;
    padding:16px;
    border-radius:30px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.footer-form button:hover{
    opacity:.9;
}

.icon-btn-form{
    width: 18px;
    float: right;
}

/* botao de voltar ao topo */
.btn-back-to-top{
    background-color: #272836;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-back-to-top:hover{
    background-color: #595D66;
}
.back-to-top-visible{
    display: flex;
}


/* RESPONSIVO */

@media(max-width: 1000px){

    .about-content,
    .footer-content{
    flex-direction:column;
    }

    .depoimentos-grid{
    grid-template-columns:repeat(2, 1fr);
    }

    .portfolio-grid{
    grid-template-columns:1fr;
    }

    .banner-text h1{
    font-size:48px;
    }

    .banner{
        height:100%;
    }

}

@media(max-width: 700px){

    .social-grid,
    .depoimentos-grid{
    grid-template-columns:1fr;
    }

    .banner{
    height:100%;
    }

    .banner-text{
        bottom:30px;
    }

    .banner-text h1{
    font-size:30px;
    }

    .section-title{
    font-size:30px;
    }

}


@media(max-width: 450px){
    .banner-text h1{
        font-size: 20px;
    }
}

/* MENU RESPONSIVO */

.menu-toggle{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap:5px;
}

.menu-toggle span{
    width:28px;
    height:3px;
    background:#D7D7D6;
    border-radius:5px;
    transition:0.3s;
}

/* RESPONSIVO */

@media(max-width: 900px){

    .navbar{
        position:relative;
        overflow: visible;
    }

    .menu-toggle{
        display:flex;
    }

    .menu{
        position:absolute;
        top:90px;

        left:50%;
        transform:translateX(-50%);

        width:90%;
        background:#272836;

        border-radius:25px;
        padding:30px;

        display:none;
        flex-direction:column;
        align-items:center;
        gap:20px;

        z-index:999;
    }

    .menu.active{
        display:flex;
    }

    .banner{
        height:100%;
        overflow: visible;
    }

}

/* PORTFÓLIOS - GALERIAS */

.bannerport{
  position: relative;
  height: 900px;
  overflow: hidden;
}

.overlay{
  position: absolute;
  inset: 0;

  /* fade pra baixo */
  background:
    linear-gradient(
      to bottom,
      rgba(217, 217, 217, 0),
      rgba(217, 217, 217, 0.5),
      rgba(217, 217, 217, 1)
    );
}

.contentport{
  position: relative;
  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #272836;
}

.contentport h1{
  font-size: 90px;
  font-weight: 700;
}

.contentport p{
    font-size: 40px;
    font-weight: 700;
}

.text-center{
    text-align: center;
    margin-bottom: 30px;
}

/* planos de fundo*/
.bpcasamento{
  background:
    url("img/casamento/banner-casamento.jpg") center/cover no-repeat;
}

/*galeria*/

.row{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col-4{
    width: calc(100% / 3);
}

.col-4 img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}    

/* pacotes */

.pacotes{
    background:#595D66;
    color:#D7D7D6;
    padding:30px;
    display:flex;
    justify-content:space-between;
    gap:30px;
    border-radius:2px;
}

.pacote{
    flex:1;
}

.pacote h2{
    margin-bottom:10px;
    font-weight:700;
}

.pacote p{
    font-size:16px;
    color: #D7D7D6;
    margin-bottom:15px;
    line-height:1.5;
}

.pacote ul{
    padding-left:20px;
}

.pacote li{
    margin-bottom:8px;
    color:#D7D7D6;
    line-height:1.5;
}

.linha{
    width:1px;
    background:#D7D7D6;
}

.personalizar{
    margin-top: 50px;
}

.pers-title{
    font-size: 28px;
}

.persp{
    font-size: 16px;
    margin-bottom: 15px;
}

.btn-pers{
    background-color: #272836;
    color: #D7D7D6;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 700;
}


/* RESPONSIVO PORTIFÓLIO */

@media(max-width:900px){

    .pacotes{
        gap:20px;
    }

    .pacote h2{
        font-size:1.2rem;
    }

}


@media(max-width:850px){

    .pacotes{
        flex-direction:column;
    }

    .linha{
        width:100%;
        height:1px;
    }

    .pacote{
        width:100%;
    }

    .pacote h2{
        font-size:1.3rem;
    }

    .pacote p,
    .pacote li{
        font-size:0.95rem;
    }

}

@media(max-width:900px){

    .col-4 img{
        margin-bottom: 20px;
    }

}

@media(max-width:700px){

    .col-4{
        width:100%;
    }

}

@media(max-width:480px){

    body{
        padding:10px;
    }

    .pacotes{
        padding:20px;
    }

    .pacote h2{
        font-size:1.1rem;
    }

    .pacote p,
    .pacote li{
        font-size:0.9rem;
    }

}

